/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --card-ignite: url(./src/ignite-card.svg);
  --card-explorer: url(./src/explorer-card.svg);
}

body * {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background: url(./src/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #121214;

  text-align: center;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* HEADER */
header img {
  margin-block: 7.5rem;
}

/* MAIN */
input.button {
  margin-inline: auto;
  color: rgb(204, 204, 204);

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  background: none;
  padding: 0.8rem 1.6rem;
  border: #338af3 solid 1px;
  border-radius: 0.6rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

input.button:hover {
  background: #338af3;
  transition: 0.3s;
}

#cards {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  gap: 2rem;
  margin-bottom: 3rem;
}

.card {
  background: var(--card-explorer);
  border-radius: 11.8889px;
  width: 35.4rem;
  height: 43.8rem;
}

.card .user img {
  margin-top: 11.3rem;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: hsla(51, 92%, 62%, 1);
  padding: 0.4rem;
}

.card .bottom {
  text-align: left;
  margin-left: 70px;
  margin-top: 100px;
}

.card .bottom h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 140%;
  color: whitesmoke;
}

.card .bottom p {
  font-size: 1.4rem;
  line-height: 160%;
  color: white;
}

/* MODAL */
body.modal-open main,
body .modal {
  opacity: 0;
  visibility: hidden;
}

body .modal {
  transform: translateX(170px);
  transition: 0.4s;
  display: none;
}

body.modal-open .modal {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%);

  transition: 0.4s;
}

.modal {
  display: flex;
  flex-direction: column;
  width: min(80%, 600px);
  position: absolute;
  left: 50%;
  top: 35%;

  z-index: 100;
  background: #202024;
  border-bottom: 2px solid #338af3;
  border-radius: 6px;
  padding: 2.9rem 3.2rem;
}

.modal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.8rem;
  margin: auto;
}

.modal form .container input {
  color: white;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 125%;
  background: none;
  display: flex;
  padding: 0.8rem 1.6rem;
  width: 100%;
  border: #338af3 solid 1px;
  border-radius: 0.6rem;
  margin-bottom: 3rem;
}

.modal form > input {
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 125%;

  background: none;
  display: flex;
  padding: 0.8rem 1.6rem;
  width: 100%;
  border: #338af3 solid 1px;
  border-radius: 0.6rem;
  margin-bottom: 4rem;
}

.modal form #cancel,
.modal form button#submit {
  margin-inline: auto;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 125%;
  color: white;
  width: 8.8rem;
  padding: 0.8rem 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal form #cancel {
  background: #b81919;
}

.modal form button#submit {
  background: #2fb819;
}

@media (min-width: 1000px) {
  body.modal-open {
    overflow: hidden;
  }
}
